@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0F303F;
  line-height: 1;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Jost", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__container] {
  max-width: 90rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 3.125rem;
}

.main__container {
  padding: 0;
}
.main-link {
  margin-top: 2.1875rem;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}
.main-link:hover {
  border-bottom: 2px solid #EAE9E8;
}
.main .navbar {
  margin-top: 0.9375rem;
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-align: center;
}
.main .navbar__category:hover {
  color: #E64926;
}
.main .navbar__category_active {
  color: #B7C1C5;
}
.main .navbar__divider {
  font-size: 0.4375rem;
}
.main .more {
  width: 15.625rem;
  padding: 0.9375rem 0;
  margin-top: 3.125rem;
  background: #254A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1.375rem;
  text-transform: uppercase;
  color: #EAE9E8;
  -webkit-animation: shadow-pop-tr-reverse 0.5s ease-out both;
          animation: shadow-pop-tr-reverse 0.5s ease-out both;
}
.main .more:hover {
  -webkit-animation: shadow-pop-tr 0.5s ease-out both;
          animation: shadow-pop-tr 0.5s ease-out both;
}
.main .cards {
  width: 100%;
  display: flex;
  margin-top: 4.6875rem;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  justify-content: center;
}
.main .cards .card {
  display: inherit;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: scale(1);
  transition: 0.6s;
}
.main .cards .card:hover {
  -webkit-animation: shadow-drop-bottom 0.6s ease-out both;
          animation: shadow-drop-bottom 0.6s ease-out both;
  transform: scale(1.05);
  transition: 0.6s;
}
.main .cards .card__img {
  width: 14.375rem;
  height: 22.8125rem;
  position: relative;
}
.main .cards .card__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .cards .card__fav-btn {
  width: 2.8125rem;
  height: 2.8125rem;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  bottom: 0.9375rem;
  right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .cards .card__fav-btn svg {
  stroke: #0F303F;
}
.main .cards .card__fav-btn:hover svg {
  stroke: #E64926;
}
.main .cards .card__wrapper {
  display: inherit;
  flex-direction: column;
  align-items: center;
  margin-top: 1.8125rem;
}
.main .cards .card__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: center;
  text-transform: uppercase;
}
.main .cards .card__subtitle {
  font-weight: 300;
  line-height: 1.4375rem;
  text-align: center;
  text-transform: capitalize;
}
.main .cards .card__pricewrap {
  display: inherit;
  gap: 0.3125rem;
  margin-top: 0.125rem;
}
.main .cards .card__price {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}
.main .cards .card__price_old {
  color: #B7C1C5;
  text-decoration: line-through;
}
.main .cards .card__price_new {
  color: #E64926;
}

@-webkit-keyframes border-bottom-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-bottom-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.75);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.75);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #CEC6C4, 2px -2px #CEC6C4, 3px -3px #CEC6C4, 4px -4px #CEC6C4, 5px -5px #CEC6C4, 6px -6px #CEC6C4, 7px -7px #CEC6C4, 8px -8px #CEC6C4;
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #CEC6C4, 2px -2px #CEC6C4, 3px -3px #CEC6C4, 4px -4px #CEC6C4, 5px -5px #CEC6C4, 6px -6px #CEC6C4, 7px -7px #CEC6C4, 8px -8px #CEC6C4;
    transform: translateX(-8px) translateY(8px);
  }
}
@-webkit-keyframes shadow-pop-tr-reverse {
  100% {
    box-shadow: 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4;
    transform: translateX(0) translateY(0);
  }
  0% {
    box-shadow: 1px -1px #CEC6C4, 2px -2px #CEC6C4, 3px -3px #CEC6C4, 4px -4px #CEC6C4, 5px -5px #CEC6C4, 6px -6px #CEC6C4, 7px -7px #CEC6C4, 8px -8px #CEC6C4;
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr-reverse {
  100% {
    box-shadow: 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4, 0 0 #CEC6C4;
    transform: translateX(0) translateY(0);
  }
  0% {
    box-shadow: 1px -1px #CEC6C4, 2px -2px #CEC6C4, 3px -3px #CEC6C4, 4px -4px #CEC6C4, 5px -5px #CEC6C4, 6px -6px #CEC6C4, 7px -7px #CEC6C4, 8px -8px #CEC6C4;
    transform: translateX(-8px) translateY(8px);
  }
}
@media (min-width: 2400px) {
  body {
    font-size: 1.25rem;
  }
}
@media (min-width: 3800px) {
  body {
    font-size: 1.375rem;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 7.8125rem;
  flex: 1 1 auto;
  margin-top: 60px;
}

.header {
  border-bottom: 1px solid #EAE9E8;
  background-color: #FFFFFF;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
}
.header .icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .header .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .header .icon-menu span, .header .icon-menu::before, .header .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 60%;
    height: 0.0625rem;
    background-color: #0F303F;
  }
  .header .icon-menu::before {
    top: 20%;
  }
  .header .icon-menu::after {
    width: 40%;
    bottom: 20%;
  }
  .header .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
}
.header:hover .icon-menu span {
  width: 0;
}
.header:hover .icon-menu::before {
  top: calc(50% - 0.03125rem);
  transform: rotate(-45deg);
}
.header:hover .icon-menu::after {
  width: 60%;
  bottom: calc(50% - 0.03125rem);
  transform: rotate(45deg);
}
.header__container {
  background-color: #FFFFFF;
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.625rem;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  text-transform: uppercase;
}
@media (max-width: 61.99875em) {
  .header__container {
    padding: 1.1875rem 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    padding: 1.1875rem 0.625rem;
  }
}
.header:hover .navigation {
  top: 100%;
  transition: 0.6s all ease-out;
}
@media (max-width: 61.99875em) {
  .header:hover .navigation {
    height: 95vh;
    display: flex;
    flex-direction: column;
  }
}
.header .sex {
  -moz-column-gap: 1.5625rem;
       column-gap: 1.5625rem;
  text-transform: uppercase;
}
.header .sex ul {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  color: #B7C1C5;
}
.header .sex_active {
  color: #0F303F;
}
@media (max-width: 61.99875em) {
  .header .sex {
    display: none;
  }
}
.header .lang {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  text-transform: uppercase;
}
.header .lang a {
  border-bottom: 2px solid transparent;
}
.header .lang a:hover {
  color: #E64926;
  border-color: #E64926;
}
@media (max-width: 61.99875em) {
  .header .lang {
    display: none;
  }
}
.header__user {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.header__user-profile {
  fill: #0F303F;
}
.header__user-profile a:hover svg {
  fill: #E64926;
}
.header__user-fav, .header__user-cart {
  stroke: #0F303F;
}
.header__user-fav a:hover svg, .header__user-cart a:hover svg {
  stroke: #E64926;
}
.header .navigation {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: -800%;
  transition: 0.6s all ease-out;
  background-color: #FFFFFF;
  padding: 2.1875rem;
  border-top: 1px solid #EAE9E8;
  border-bottom: 1px solid #EAE9E8;
  font-size: 0.875rem;
}
.header .navigation__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 61.99875em) {
  .header .navigation__container {
    margin: 0;
  }
}
.header .navigation__wrapper {
  display: none;
}
@media (max-width: 61.99875em) {
  .header .navigation__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 29.99875em) {
  .header .navigation__wrapper {
    flex-direction: column;
    row-gap: 3.125rem;
  }
}
.header .navigation__sex {
  display: none;
}
@media (max-width: 61.99875em) {
  .header .navigation__sex {
    display: flex;
  }
}
@media (max-width: 29.99875em) {
  .header .navigation__sex {
    flex-direction: column;
    order: 2;
  }
}
.header .navigation__lang {
  display: none;
}
@media (max-width: 61.99875em) {
  .header .navigation__lang {
    display: flex;
  }
}
@media (max-width: 29.99875em) {
  .header .navigation__lang {
    order: 1;
    justify-content: center;
  }
}
.header .navigation-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 1 auto;
}
@media (max-width: 61.99875em) {
  .header .navigation-items {
    margin-top: 2.5rem;
    padding: 0 1.25rem;
    justify-content: start;
    flex-flow: column nowrap;
  }
}
@media (max-width: 47.99875em) {
  .header .navigation-items {
    padding: 0 0.625rem;
  }
}
.header .navigation-items hr {
  margin-bottom: 1.875rem;
  width: 1px;
  background: linear-gradient(100deg, rgb(255, 255, 255) 0%, rgb(246, 246, 245) 10%, rgb(217, 217, 217) 50%, rgb(247, 246, 246) 90%, rgb(255, 255, 255) 100%);
}
.header .navigation-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.header .navigation-item__header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 0.125rem solid transparent;
}
.header .navigation-item__header:hover {
  border-color: #0F303F;
}
.header .navigation-item li:hover {
  color: #E64926;
}
@media (max-width: 61.99875em) {
  .header .navigation-item {
    align-items: center;
  }
  .header .navigation-item ul {
    display: none;
  }
  .header .navigation-item__header:hover ~ ul {
    display: block;
  }
}
.header .navigation-brands {
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
}
.header .navigation-brands__divider {
  width: 100%;
  height: 0.0625rem;
  margin-top: 1.875rem;
  background: linear-gradient(100deg, rgb(255, 255, 255) 0%, rgb(246, 246, 245) 10%, rgb(217, 217, 217) 50%, rgb(247, 246, 246) 90%, rgb(255, 255, 255) 100%);
}
@media (max-width: 61.99875em) {
  .header .navigation-brands__divider {
    display: none;
  }
}
.header .navigation-brands ul {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
}
@media (max-width: 61.99875em) {
  .header .navigation-brands ul {
    gap: 1.875rem;
    margin: 0;
    font-size: 0.75rem;
  }
}
@media (max-width: 47.99875em) {
  .header .navigation-brands ul {
    font-size: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .header .navigation-brands ul {
    font-size: 0.5rem;
  }
}
@media (max-width: 47.99875em) {
  .header .navigation-brands {
    padding: 0.625rem;
    display: inline-flex;
  }
}
.header .navigation-brand {
  white-space: nowrap;
}
.header .navigation-brand:hover {
  display: block;
  transform: scale(1.15);
  color: #E64926;
  transition: 0.3s all ease-out;
}

.main__container {
  padding: 0;
}
.main .promo {
  height: 36.5625rem;
}
.main .promo__background {
  display: flex;
  width: inherit;
  height: inherit;
  position: relative;
}
.main .promo__background::before {
  content: "";
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 2;
}
.main .promo__background-1 {
  width: 65%;
  background: url("./../img/main_page/americanVintagePromo1.png") center/cover no-repeat;
}
@media (max-width: 47.99875em) {
  .main .promo__background-1 {
    width: 100%;
  }
}
.main .promo__background-2 {
  width: 35%;
  background: url("./../img/main_page/americanVintagePromo2.png") center/cover no-repeat;
  transform: scaleX(-1);
}
@media (max-width: 47.99875em) {
  .main .promo__background-2 {
    display: none;
  }
}
.main .promo__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #EAE9E8;
  text-transform: uppercase;
  white-space: nowrap;
}
.main .promo__descr-label {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
  line-height: 1.51375rem;
  font-weight: 500;
}
.main .promo__descr-brand {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.0275rem;
  margin-top: 0.625rem;
  font-weight: 500;
}
@media (max-width: 47.99875em) {
  .main .promo__descr-brand {
    font-size: 2rem;
  }
}
@media (max-width: 61.99875em) {
  .main .promo {
    height: 28.875rem;
  }
}
.main .arrival {
  height: 43.75rem;
  margin-top: 7.4375rem;
  background: #CEC6C4;
}
@media (max-width: 61.99875em) {
  .main .arrival {
    height: 87.5rem;
  }
}
.main .arrival__wrapper {
  display: flex;
  width: inherit;
  height: inherit;
  position: relative;
  color: #EAE9E8;
}
@media (max-width: 61.99875em) {
  .main .arrival__wrapper {
    flex-direction: column;
  }
}
.main .arrival__background-1 {
  width: 46%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media (max-width: 61.99875em) {
  .main .arrival__background-1 {
    width: 100%;
  }
}
.main .arrival__background-1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: url("./../img/main_page/newArrival1.png") no-repeat;
  background-position: 45% 0%;
  background-size: 48.75rem 58.1875rem;
  transform: scaleX(-1);
  filter: grayscale(1);
}
@media (max-width: 61.99875em) {
  .main .arrival__background-1::before {
    background-position: 50% 0%;
    background-size: 66.875rem;
  }
}
.main .arrival__background-1 > * {
  padding-left: 3.4722222222%;
  z-index: 1;
}
.main .arrival__background-header {
  font-family: "Cormorant Garamond", serif;
  font-size: 5.625rem;
  font-weight: 500;
  line-height: 5.765625rem;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  .main .arrival__background-header {
    font-size: 4.375rem;
    line-height: 4.515625rem;
  }
}
@media (max-width: 29.99875em) {
  .main .arrival__background-header {
    font-size: 3.125rem;
    line-height: 3.265625rem;
  }
}
.main .arrival__background-descr {
  margin-top: 0.9375rem;
  margin-right: 5rem;
  font-size: 0.875rem;
  line-height: 1.1875rem;
}
.main .arrival__background-link {
  white-space: nowrap;
}
.main .arrival__background-link:hover {
  -webkit-animation: border-bottom-width 0.7s ease-in forwards;
          animation: border-bottom-width 0.7s ease-in forwards;
}
.main .arrival__background-2 {
  width: 54%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 61.99875em) {
  .main .arrival__background-2 {
    width: 100%;
    transform: scale(0.95);
  }
}
.main .arrival__background-image {
  width: 37.5rem;
  height: 37.5rem;
  background: url("./../img/main_page/newArrival2.png") 30% 15%/100% no-repeat;
  border: 6.875rem solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .arrival__background-image .arrival__background-descr {
  width: 19.375rem;
  margin: 0.9375rem auto;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .main .arrival__background-image {
    width: 31.25rem;
    height: 31.25rem;
    border: 5.625rem solid #FFFFFF;
  }
}
@media (max-width: 29.99875em) {
  .main .arrival__background-image {
    width: 25rem;
    height: 25rem;
    border: 3.75rem solid #FFFFFF;
  }
}
.main .popular {
  margin-top: 7.4375rem;
}
.main .popular__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
@media (max-width: 47.99875em) {
  .main .popular__container .cards {
    flex-direction: column;
  }
}
.main .popular__container .cards .card {
  align-items: center;
  margin-top: 1.875rem;
}
.main .popular__header {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.045em;
  border-bottom: 1px solid transparent;
}
.main .popular__header:hover {
  border-color: #0F303F;
}
@media (max-width: 61.99875em) {
  .main .popular .card-4 {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .main .popular .card-3 {
    display: none;
  }
}
.main .about {
  width: 100%;
  height: 31.25rem;
  margin-top: 7.4375rem;
  background: #254A5A;
  position: relative;
}
.main .about__wrapper {
  display: flex;
}
.main .about__wrapper::before {
  content: url("./../../img/main_page/aboutBackImg.svg");
  position: absolute;
  top: -11%;
  left: 50%;
  z-index: 3;
}
@media (max-width: 61.99875em) {
  .main .about__wrapper::before {
    transform: scale(0.5);
    top: -13%;
    left: 65%;
  }
}
.main .about__header {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 5.625rem;
  line-height: 5.0625rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #EAE9E8;
}
.main .about__header span {
  font-size: 1.875rem;
  line-height: 1.6875rem;
}
.main .about__text {
  width: 36%;
  margin-top: 7.6388888889%;
  margin-left: 11.8055555556%;
}
@media (max-width: 47.99875em) {
  .main .about__text {
    width: 80%;
  }
}
.main .about__descr {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
}
.main .about__img {
  width: 29.625rem;
  height: 34.1875rem;
  position: absolute;
  top: 9%;
  left: 55%;
}
.main .about__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
@media (max-width: 1124px) {
  .main .about__img {
    width: 23.875rem;
    height: 31.0625rem;
  }
}
@media (max-width: 61.99875em) {
  .main .about__img {
    width: 14.75rem;
    height: 16.125rem;
    top: 60%;
    left: 62.5%;
  }
}
@media (max-width: 47.99875em) {
  .main .about__img {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .clothes__container {
    padding: 0 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .clothes__container {
    padding: 0 0.625rem;
  }
}
.clothes .shop {
  max-width: 52.5rem;
  margin: 1.4375rem auto;
  display: flex;
  flex-direction: column;
}
.clothes .shop__header {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
}
.clothes .shop__filter {
  margin-top: 2.8125rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
}
.clothes .shop__filter * {
  font-size: 0.875rem;
}
.clothes .shop__filter select {
  width: 24.3055555556%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  background-image: url("./../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 0.125rem;
  padding: 1rem;
  padding-right: 2rem;
  font-family: "Jost", sans-serif;
}
.clothes .shop__filter select:focus {
  outline: 0.125rem solid;
  outline-color: rgba(37, 74, 90, 0.7);
}
.clothes .shop__filter option::-moz-selection {
  background-color: #254A5A;
}
.clothes .shop__filter option::selection {
  background-color: #254A5A;
}
.clothes .shop__filter-params {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .clothes .shop__filter-params {
    justify-content: center;
    flex-wrap: wrap;
  }
  .clothes .shop__filter-params select {
    width: 38.1944444444%;
  }
}
.clothes .shop__filter-wrapper {
  margin-top: 0.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clothes .shop__filter-count {
  color: #B7C1C5;
}
.clothes .shop__filter-sort > label {
  color: #B7C1C5;
}
.clothes .shop__filter-sort > select {
  width: 8.125rem;
  border: none;
}
.clothes .shop .cards {
  margin-top: 0.625rem;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}
.clothes .shop .cards .card__img {
  width: 16.875rem;
  height: 20.3125rem;
}
.clothes .shop .cards .card__img img {
  width: 100%;
  height: 100%;
}
.clothes .shop .more {
  align-self: center;
}

@media (max-width: 61.99875em) {
  .item {
    font-size: 1.125rem;
  }
}
@media (max-width: 61.99875em) {
  .item__container {
    padding: 1.1875rem 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .item__container {
    padding: 1.1875rem 0.625rem;
  }
}
.item .similar {
  margin-top: 8.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item .similar__header {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  .item .similar__cards {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
.item .cards {
  margin-top: 2.8125rem;
}
.item__main .cards .card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 2fr;
  transition: none;
}
@media (max-width: 61.99875em) {
  .item__main .cards .card {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    justify-items: center;
  }
}
.item__main .cards .card:hover {
  -webkit-animation: none;
          animation: none;
  transform: none;
  transition: none;
}
.item__main .cards .card__slider {
  grid-row: 1/-1;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  width: 5.3125rem;
  row-gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .item__main .cards .card__slider {
    grid-column: 1/-1;
    grid-row: 3/4;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: center;
    width: 40%;
    margin-top: 1.25rem;
    align-items: center;
  }
  .item__main .cards .card__slider img {
    width: 100%;
    height: 100%;
  }
}
.item__main .cards .card__slider img {
  width: 100%;
}
.item__main .cards .card__img {
  width: 26.75rem;
  height: 32.5rem;
  padding-left: 0.625rem;
  grid-row: 1/-1;
  grid-column: 2/3;
}
@media (max-width: 61.99875em) {
  .item__main .cards .card__img {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 20.5rem;
    height: 26.25rem;
    margin-top: 1.25rem;
    padding: 0;
  }
  .item__main .cards .card__img img {
    width: 100%;
    height: 100%;
  }
}
.item__main .cards .card__img img {
  width: 100%;
  height: 100%;
}
.item__main .cards .card__wrapper {
  width: 17.5rem;
  padding-left: 2.1875rem;
  grid-column: 3/4;
  display: flex;
  align-items: flex-start;
  margin-top: 0;
}
@media (max-width: 61.99875em) {
  .item__main .cards .card__wrapper {
    width: 100%;
    padding: 0;
    grid-column: 1/-1;
    grid-row: 1/2;
    align-items: center;
  }
}
.item__main .cards .card__title {
  font-size: 1.5625rem;
  line-height: 2.125rem;
}
.item__main .cards .card__price {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}
.item__main .cards .card__params {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item__main .cards .card__params-header, .item__main .cards .card__params-table {
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
}
.item__main .cards .card__params-header {
  margin-top: 1.25rem;
}
.item__main .cards .card__params-table {
  margin-top: 0.4375rem;
  text-decoration: underline;
}
.item__main .cards .card__params-table:hover {
  text-decoration: none;
}
.item__main .cards .card__size {
  display: flex;
  gap: 0.625rem;
}
.item__main .cards .card__size-item input[type=radio] {
  display: none;
}
.item__main .cards .card__size-item input[type=radio]:checked + label {
  background: #EAE9E8;
}
.item__main .cards .card__size-item label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.1875rem;
  height: 2.1875rem;
  border: 1px solid #EAE9E8;
  background: #FFFFFF;
}
.item__main .cards .card__size-item label:hover {
  background: #EAE9E8;
}
.item__main .cards .card__size-item_disabled label {
  cursor: auto;
  background: #EAE9E8;
  color: #B7C1C5;
}
.item__main .cards .card__size-item_disabled label:hover {
  background: #EAE9E8;
}
.item__main .cards .card__color {
  display: flex;
  gap: 0.9375rem;
}
.item__main .cards .card__color-item input[type=radio] {
  display: none;
}
.item__main .cards .card__color-item input[type=radio]:checked + label {
  border-width: 0.5625rem;
}
.item__main .cards .card__color-item label {
  display: flex;
  cursor: pointer;
  width: 2.1875rem;
  height: 2.1875rem;
  border: 0.0625rem solid #EAE9E8;
  border-radius: 50%;
}
.item__main .cards .card__color-item label:hover {
  border-width: 0.5625rem;
}
.item__main .cards .card__color-item label[for=color-white] {
  background: white;
}
.item__main .cards .card__color-item label[for=color-red] {
  background: red;
}
.item__main .cards .card__color-item label[for=color-blue] {
  background: darkblue;
}
.item__main .cards .card__color-item label[for=color-black] {
  background: black;
}
.item__main .cards .card__color-item_disabled label {
  cursor: auto;
  background: #EAE9E8;
  color: #B7C1C5;
}
.item__main .cards .card__color-item_disabled label:hover {
  background: #EAE9E8;
}
.item__main .cards .card__buy {
  margin-top: 1.25rem;
}
@media (max-width: 61.99875em) {
  .item__main .cards .card__buy-btns {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.item__main .cards .card__buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  padding: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;
  text-transform: uppercase;
  border: 2px solid #254A5A;
}
.item__main .cards .card__buy-btn span {
  white-space: nowrap;
  border-bottom: 1px solid transparent;
}
.item__main .cards .card__buy-cart:hover span {
  border-bottom: 1px solid #0F303F;
}
.item__main .cards .card__buy-oneclick {
  color: #EAE9E8;
  background: #254A5A;
}
.item__main .cards .card__buy-oneclick:hover span {
  border-bottom: 1px solid #EAE9E8;
}
.item__main .cards .card__buy-help {
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.item__main .cards .card__buy-help li {
  opacity: 0.5;
}
.item__main .cards .card__buy-help li:hover {
  opacity: 0.8;
}
.item__main .cards .card__info {
  width: calc(17.5rem + 2.1875rem);
  padding-left: 2.1875rem;
  grid-column: 3/4;
}
@media (max-width: 61.99875em) {
  .item__main .cards .card__info {
    grid-column: 1/-1;
    grid-row: 4/5;
    width: 100%;
    padding: 0.9375rem;
  }
}
.item__main .cards .card__descr {
  width: 100%;
  margin-top: 1.25rem;
}
.item__main .cards .card__descr-header {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
}
.item__main .cards .card__descr-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.contacts__container {
  padding: 0;
}
.contacts__about {
  display: flex;
  width: 100%;
  height: 37.125rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
@media (max-width: 61.99875em) {
  .contacts__about {
    height: 28.875rem;
  }
}
@media (max-width: 47.99875em) {
  .contacts__about {
    height: 28.125rem;
  }
}
.contacts__about-header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: uppercase;
}
.contacts__about-descr {
  width: 60%;
  margin-top: 0.9375rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.1875rem;
}
.contacts__about::before {
  content: "";
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
}
.contacts__about::after {
  content: "";
  width: 100%;
  height: inherit;
  background: url("./../img/contacts_page/contactAbout.png") 100% 27%/cover no-repeat;
  position: absolute;
  z-index: -2;
  transform: scaleX(-1);
  filter: contrast(1.2);
}
.contacts__form {
  display: flex;
  margin-top: 7.4375rem;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .contacts__form {
    flex-direction: column;
  }
}
.contacts__form-header {
  padding: 0.625rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
  text-align: center;
  background: #d2d0cd;
}
.contacts__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 12.5rem 0 1.875rem;
}
@media (max-width: 1200px) {
  .contacts__form form {
    margin: 0 9.375rem 0 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .contacts__form form {
    margin: 0 3.75rem 0 1.875rem;
  }
}
.contacts__form form input {
  width: 15.625rem;
  margin-top: 1.25rem;
  padding: 0.3125rem 0;
  border-bottom: 1px solid #0F303F;
  background: transparent;
}
.contacts__form form input:focus {
  outline: none;
}
.contacts__form form textarea {
  width: 15.625rem;
  height: 6.25rem;
  margin-top: 2.5rem;
  resize: none;
  border: 1px solid #0F303F;
  background: transparent;
}
.contacts__form form textarea:focus {
  outline: none;
}
.contacts__form form button {
  width: 15.625rem;
  margin-top: 0.75rem;
  padding: 0.875rem;
  background: #E64926;
  border: 1px solid #E64926;
  color: #EAE9E8;
  font-weight: 500;
  text-transform: uppercase;
}
.contacts__form form button:hover {
  background: #c33616;
}
.contacts__bg {
  min-width: 50%;
  height: inherit;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  background: #EAE9E8;
  display: flex;
}
.contacts__imgs {
  margin-top: 7.4375rem;
}
@media (max-width: 47.99875em) {
  .contacts__imgs {
    padding: 0 3.75rem;
  }
}
@media (max-width: 29.99875em) {
  .contacts__imgs {
    padding: 0 0.625rem;
  }
}
.contacts__imgs .images {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .contacts__imgs .images {
    flex-direction: column;
    align-items: flex-end;
    gap: 1.875rem;
  }
}
.contacts__imgs .images-1 {
  min-width: 25.625rem;
  min-height: 25.625rem;
  position: relative;
  overflow: hidden;
}
.contacts__imgs .images-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  top: -20%;
  left: 0;
}
@media (max-width: 61.99875em) {
  .contacts__imgs .images-1 {
    min-width: 19.375rem;
    min-height: 19.375rem;
  }
}
@media (max-width: 29.99875em) {
  .contacts__imgs .images-1 {
    min-width: 13.125rem;
    min-height: 13.125rem;
  }
}
.contacts__imgs .images-2 {
  min-width: 17.5rem;
  min-height: 17.5rem;
  position: relative;
  overflow: hidden;
  align-self: flex-start;
}
.contacts__imgs .images-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 61.99875em) {
  .contacts__imgs .images-2 {
    min-width: 11.25rem;
    min-height: 11.25rem;
  }
}
@media (max-width: 29.99875em) {
  .contacts__imgs .images-2 {
    min-width: 8.75rem;
    min-height: 8.75rem;
  }
}
.contacts__socials {
  margin-top: 7.4375rem;
  padding: 3.625rem 0;
  background: #EAE9E8;
  display: flex;
  flex-direction: column;
}
.contacts__socials-header {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-align: center;
  text-transform: uppercase;
}
.contacts__socials-wrapper {
  margin-top: 1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts__socials-wrapper a {
  margin-top: 1.5625rem;
  width: 45%;
  min-width: 17.5rem;
  padding: 1.875rem 1.25rem;
  border-radius: 0.625rem;
  font-weight: 500;
  color: #EAE9E8;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  -webkit-animation: shadow-pop-tr-reverse 0.5s ease-out both;
          animation: shadow-pop-tr-reverse 0.5s ease-out both;
}
.contacts__socials-wrapper a:hover {
  -webkit-animation: shadow-pop-tr 0.5s ease-out both;
          animation: shadow-pop-tr 0.5s ease-out both;
}
.contacts__socials-wrapper a span {
  padding: 0 0.625rem;
  background: rgba(37, 74, 90, 0.6);
}
@media (max-width: 61.99875em) {
  .contacts__socials-wrapper a {
    padding: 1.25rem 0.625rem;
    font-size: 0.75rem;
  }
}
.contacts__socials-insta {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.contacts__socials-twitter {
  background: linear-gradient(299deg, rgb(188, 230, 247) 0%, rgb(174, 226, 247) 14%, rgb(54, 216, 255) 36%, rgb(35, 201, 249) 69%, rgb(0, 172, 238) 100%);
}
.contacts__socials-tiktok {
  background: linear-gradient(299deg, rgb(10, 234, 229) 0%, rgb(236, 16, 88) 100%);
}

@media (max-width: 61.99875em) {
  .cart__container {
    padding: 1.1875rem 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .cart__container {
    padding: 1.1875rem 0.625rem;
  }
}
.cart__header {
  margin-top: 2.8125rem;
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.5625rem;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.cart__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
}
.cart__wrapper form {
  display: flex;
  flex-direction: column;
}
.cart__wrapper form input:not([type=radio]) {
  width: 16.875rem;
  margin-top: 1.25rem;
  padding: 0.3125rem 0;
  border-bottom: 1px solid #0F303F;
  background: transparent;
}
.cart__wrapper form input:not([type=radio]):focus {
  outline: none;
}
@media (max-width: 29.99875em) {
  .cart__wrapper form input:not([type=radio]) {
    width: 14.375rem;
  }
}
@media (max-width: 920px) {
  .cart__wrapper form {
    margin: 0 auto;
  }
}
.cart__wrapper .items {
  margin-left: 10%;
}
@media (max-width: 920px) {
  .cart__wrapper .items {
    margin: 0;
  }
}
.cart__wrapper .items .cards {
  flex-direction: column;
  margin: 0;
}
.cart__wrapper .items .cards .card {
  width: 100%;
  padding: 2.8125rem 2.375rem;
  flex-direction: row;
  margin-top: -0.0625rem;
  transition: none;
  border: 1px solid #EAE9E8;
}
.cart__wrapper .items .cards .card:hover {
  -webkit-animation: none;
          animation: none;
  transform: scale(1);
}
.cart__wrapper .items .cards .card__img {
  width: 8.75rem;
  height: 9.1875rem;
}
.cart__wrapper .items .cards .card__img img {
  width: 100%;
  height: 100%;
}
.cart__wrapper .items .cards .card__wrapper {
  align-items: flex-start;
  margin: 0.625rem 1.5625rem;
}
.cart__wrapper .items .cards .card__delete-btn {
  width: 1.375rem;
  height: 1.375rem;
  margin: 1.375rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__wrapper .items .cards .card__delete-btn svg {
  stroke: #0F303F;
}
.cart__wrapper .items .cards .card__delete-btn:hover svg {
  stroke: #E64926;
}
.cart__wrapper .total {
  padding: 1.875rem 2.375rem;
  margin-top: -0.0625rem;
  border: 1px solid #EAE9E8;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6875rem;
}
.cart__wrapper .total span {
  font-weight: 600;
}
@media (max-width: 920px) {
  .cart__wrapper {
    flex-direction: column;
  }
}
.cart__form input[type=radio]:checked {
  accent-color: #E64926;
}
.cart__form-choice {
  margin-top: 0.625rem;
}
.cart__form-shipment, .cart__form-payment {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-top: 1.5625rem;
}
.cart__form-promo {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #E64926;
}
.cart__form-pay {
  display: flex;
  flex-direction: column;
}
.cart__form-pay input {
  width: 30px;
}
.cart__form button {
  width: 100%;
  margin-top: 1.25rem;
  padding: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  background: #E64926;
  color: #FFFFFF;
}
.cart__form button:hover {
  background: #c33616;
}

.footer {
  background-color: #FFFFFF;
  border-top: 1px solid #EAE9E8;
}
.footer__container {
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-promo {
  width: inherit;
  padding: 3.875rem 0;
  display: inherit;
  flex-direction: column;
  align-items: center;
}
.footer-promo form[name=promo-email] {
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-promo form[name=promo-email] label {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.875em;
  line-height: 1.9375rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}
.footer-promo form[name=promo-email] input {
  width: 15.625rem;
  margin-top: 1.25rem;
  border-bottom: 1px solid #0F303F;
  text-align: center;
}
.footer-promo form[name=promo-email] input:focus {
  outline: none;
}
@media (max-width: 29.99875em) {
  .footer-promo form[name=promo-email] input {
    width: 12.5rem;
  }
}
@media (max-width: 29.99875em) {
  .footer-promo form[name=promo-email] {
    font-size: 0.8125rem;
  }
}
.footer-promo__nav {
  margin-top: 1.875rem;
  display: inherit;
  gap: 2.5rem;
  color: #B7C1C5;
}
.footer-promo__nav li {
  white-space: nowrap;
}
.footer-promo__nav li:hover {
  color: #0F303F;
}
@media (max-width: 47.99875em) {
  .footer-promo__nav {
    font-size: 0.875rem;
  }
}
@media (max-width: 29.99875em) {
  .footer-promo__nav {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
}
.footer-bottom {
  width: 100%;
  text-align: center;
  padding: 0.9375rem 0;
  border-top: 1px solid #EAE9E8;
}